$mainBlue: #2f5572;

body {
    color: $mainBlue;
    padding: 30px;
    margin: 10px;
    columns: 300px 2;
    align-items: center;
}

.box {
    a {
        display: black;
        padding: 10px;
        margin: auto;
        z-index: auto;
    }
}